<!DOCTYPE html>
<html layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>니집내집</title>
    <link rel="stylesheet" href="/static/sstyle.css">
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const urlParams = new URLSearchParams(window.location.search);
            const error = urlParams.get('error');
            const auth = urlParams.get('auth');
            
            if (error) {
                document.getElementById('loginError').style.display = 'block'; // 로그인 오류
            }
            
            if (auth === 'required') {
                alert('로그인 후 이용 가능한 페이지입니다.'); // 로그인 필요 경고
            }
        });
    </script>
</head>
<body>
    <div layout:fragment="content" class="login-container">
        <div class="login-box" style="margin-top:110px">
            <h2 class="text-center">로그인</h2>
            
            <form th:action="@{/user/login}" method="post">
                <div id="loginError" style="display:none;">
                    <div class="alert alert-danger">
                        아이디 또는 비밀번호를 다시 확인해주세요.
                    </div>
                </div>
                <input type="text" name="username" placeholder="아이디" required>
                <input type="password" name="password" placeholder="비밀번호" required>
                <button type="submit">로그인</button>	
            </form>
            
            <button style="background-color: #f9e000; margin-top:10px;">
	            <a th:href="${location}" style="margin-top:10px; background-color: #f9e000; color:black;">
	                카카오 계정으로 로그인
	            </a>	
	        </button>
            
            <div class="options">
                <a th:href="@{/user/join01}" th:text="회원가입"></a>
                <a th:href="@{/user/findId}">아이디 찾기</a>
                <a th:href="@{/user/resetPassword}">비밀번호 재설정</a>
            </div>
            
        </div>
    </div>
</body>
</html>
