<!DOCTYPE html>
<html layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>니집내집 - 회원 탈퇴</title>
    <link rel="stylesheet" href="/static/sstyle.css">
    <script th:if="${success}" th:inline="javascript">
    	alert("회원 탈퇴가 완료되었습니다.");
	    window.location.href = "/user/logout";
	</script>
    <script th:inline="javascript">
        function confirmDeletion(event) {
            event.preventDefault(); // 기본 제출 동작 방지
            if (confirm("정말로 회원 탈퇴를 하시겠습니까? 모든 정보가 삭제되며 복구가 불가능합니다.")) {
                event.target.submit(); // 확인을 누르면 폼 제출
            }
        }

        function showCompletionMessage() {
            alert("회원 탈퇴가 완료되었습니다.");
        }
    </script>
</head>
<body>
<div layout:fragment="content" class="terms-container">
    <h1>회원 탈퇴</h1>
    <form th:action="@{/user/userDelete}" method="post" onsubmit="confirmDeletion(event)">
	    <div th:if="${error}" class="alert alert-danger" role="alert">
	        <span th:text="${error}"></span>
	    </div>
        <div class="info-input">
            <label for="username">아이디</label>
            <label th:text="${#authentication?.name}"></label>
            <input type="hidden" id="username" name="username" th:value="${#authentication?.name}" />
        </div>
        
        <div class="info-input">
            <label for="password">비밀번호</label>
            <input type="password" id="password" name="password"
            placeholder="비밀번호를 입력하세요" required/>
        </div>

        <div class="info-input">
            <label for="confirmPassword">비밀번호 확인</label>
            <input type="password" id="confirmPassword" name="confirmPassword"
            placeholder="비밀번호를 다시 입력하세요" required/>
        </div>

        <button type="submit">탈퇴하기</button>
        <a th:attr="href=@{/main}" title="메인으로">메인으로</a>
    </form>
</div>
	
</body>
</html>