<!DOCTYPE html>
<html layout:decorate="~{layout/layout}" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Properties</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f17be299f721e9cfc06f28d83b05f036&libraries=clusterer"></script>
    <link rel="stylesheet" th:href="@{/resource/css/bootstrap.min.css}">
    <style type="text/css">
		html, body {
		    height: 100%;
		    overflow: hidden;
		    font-family: Arial, sans-serif;
		}
	 </style>
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid h-100">
        <div class="row h-100 no-gutters">
            <div class="col-md-3 h-100">
                <div id="list" class="list-container"></div>
            </div>
            <div class="col-md-9 h-100">
                <div id="map" class="map-container"></div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="propertyModal" tabindex="-1" aria-labelledby="propertyModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="propertyModalLabel">매물 정보</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Carousel -->
                    <div id="carouselExampleControls" class="carousel slide mb-3" data-bs-ride="carousel">
                        <div class="carousel-inner" id="carousel-inner">
                            <!-- Images will be injected here by JavaScript -->
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <h5 id="modalTitle" class="mb-3"></h5>
                    <p id="modalAddress" class="mb-2"></p>
                    <p id="modalPrice" class="text-primary mb-4"></p>
                    <a id="propertyDetailsLink" href="#" class="btn btn-primary mb-3">상세 페이지로 이동</a>

                    <hr>
                    <div class="mb-3">
                        <h6>요약</h6>
                        <p id="modalSummary"></p>
                    </div>
                    <div class="mb-3">
                        <h6>주소</h6>
                        <p id="modalDetailAddress"></p>
                    </div>
                    <div class="mb-3">
                        <h6>면적</h6>
                        <p id="modalDetailSize"></p>
                    </div>
                    <div class="mb-3">
                        <h6>층수</h6>
                        <p id="modalDetailFloor"></p>
                    </div>
                    <div class="mb-3">
                        <h6>주차</h6>
                        <p id="modalDetailParking"></p>
                    </div>
                    <div class="mb-3">
                        <h6>관리비</h6>
                        <p id="modalDetailPrice"></p>
                    </div>
                    <div class="mb-3">
                        <h6>입주일</h6>
                        <p id="modalDetailMoveInDate"></p>
                    </div>

                    <hr>
                    <div class="mb-3">
                        <h6>옵션</h6>
                        <p id="modalOptions"></p>
                    </div>
                    <div class="mb-3">
                        <h6>보안/안전시설</h6>
                        <p id="modalSecurity"></p>
                    </div>
                    <div class="mb-3">
                        <h6>방특징</h6>
                        <p id="modalCharacteristics"></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        var properties = /*[[${properties}]]*/ [];
        console.log('Properties Array:', properties); // properties 배열 확인
    </script>
    <script th:src="@{/resource/js/kakaoMap.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
  </div>
</body>

</html>
