<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property Details</title>
    <link rel="stylesheet" th:href="@{/resource/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/resource/css/propertyDetails.css}">
    <link rel="stylesheet" th:href="@{/resource/css/scrollStyle.css}">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f17be299f721e9cfc06f28d83b05f036&libraries=services,clusterer"></script>
</head>
<body>
<div layout:fragment="content">
<div class="scrollable-container">
    <div class="container mt-5">
        <div class="row">
            <!-- Left Column -->
            <div class="col-md-8 left-column">
                <!-- Image Slider -->
                <div id="imageSlider" class="mb-4">
                    <div class="main-image-container position-relative">
                        <button id="prevImage" class="carousel-control-prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <img id="mainImage" src="" class="d-block w-100 main-image" alt="Property Image">
                        <button id="nextImage" class="carousel-control-next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <div class="thumbnail-container">
                        <div th:each="image : ${property.propertyImageList}">
                            <img th:src="@{/resource/image/{imageName}(imageName=${image.imageStoredName})}" class="thumbnail" alt="Property Thumbnail">
                        </div>
                    </div>
                </div>

                <!-- Modal for large image view -->
                <div id="imageModal" class="modal">
                    <span class="close">&times;</span>
                    <button id="prevModalImage" class="modal-prev">&lt;</button>
                    <img class="modal-content" id="img01">
                    <button id="nextModalImage" class="modal-next">&gt;</button>
                    <div id="caption"></div>
                </div>

                <!-- Detailed Information -->
                <div class="card details-container">
                    <h5>가격정보</h5>
                    <p><strong>보증금: </strong><span th:text="${property.deposit != null ? property.deposit : 'N/A'}"></span></p>
                    <p><strong>월세: </strong><span th:text="${property.monthlyRent != null ? property.monthlyRent : 'N/A'}"></span></p>
                    <p><strong>관리비: </strong><span th:text="${property.maintenanceFee != null ? property.maintenanceFee : 'N/A'}"></span></p>
                </div>

                <div class="card details-container">
                    <h5>상세정보</h5>
                    <p><strong>타입: </strong><span th:text="${property.propertyType != null ? property.propertyType : 'N/A'}"></span></p>
                    <p><strong>건물 이름: </strong><span th:text="${property.buildingName != null ? property.buildingName : 'N/A'}"></span></p>
                    <p><strong>크기: </strong><span th:text="${property.sizePyeong != null ? property.sizePyeong + ' 평' : 'N/A'}"></span></p>
                    <p><strong>방 정보: </strong><span th:text="${property.roomInfo != null ? property.roomInfo : 'N/A'}"></span></p>
                    <p><strong>입주 가능일: </strong><span th:text="${#dates.format(property.availableDate, 'yyyy-MM-dd') != null ? #dates.format(property.availableDate, 'yyyy-MM-dd') : 'N/A'}"></span></p>
                    <p><strong>층: </strong><span th:text="${property.floor != null ? property.floor : 'N/A'}"></span></p>
                    <p><strong>등록일: </strong><span th:text="${#dates.format(property.registrationDate, 'yyyy-MM-dd') != null ? #dates.format(property.registrationDate, 'yyyy-MM-dd') : 'N/A'}"></span></p>
                    <p><strong>상태: </strong><span th:text="${property.status != null ? property.status : 'N/A'}"></span></p>
                    <p><strong>처리 상태: </strong><span th:text="${property.processingStatus != null ? property.processingStatus : 'N/A'}"></span></p>
                </div>

                <div class="card details-container">
                    <h5>옵션</h5>
                    <div class="options" th:each="option : ${property.propertyOption}">
                        <p><strong>난방 시스템: </strong><span th:text="${option.heatingSystem != null ? option.heatingSystem : 'N/A'}"></span></p>
                        <p><strong>냉방 시스템: </strong><span th:text="${option.coolingSystem != null ? option.coolingSystem : 'N/A'}"></span></p>
                        <p><strong>생활 시설: </strong><span th:text="${option.livingFacilities != null ? option.livingFacilities : 'N/A'}"></span></p>
                        <p><strong>보안 시설: </strong><span th:text="${option.securityFacilities != null ? option.securityFacilities : 'N/A'}"></span></p>
                        <p><strong>기타 시설: </strong><span th:text="${option.otherFacilities != null ? option.otherFacilities : 'N/A'}"></span></p>
                        <p><strong>주차: </strong><span th:text="${option.parking != null ? option.parking : 'N/A'}"></span></p>
                        <p><strong>엘리베이터: </strong><span th:text="${option.elevator != null ? option.elevator : 'N/A'}"></span></p>
                        <p><strong>부동산 특징: </strong><span th:text="${option.propertyFeatures != null ? option.propertyFeatures : 'N/A'}"></span></p>
                    </div>
                </div>

                <!-- 보안/안전시설을 propertyOptionOptions로 대체 -->
                <div class="card details-container">
                    <h5>보안/안전시설</h5>
                    <div class="safety" th:each="safety : ${property.propertyOption}">
                        <div th:text="${safety.securityFacilities != null ? safety.securityFacilities : 'N/A'}"></div>
                    </div>
                </div>

                <div class="card details-container">
                    <h5>위치 및 주변시설</h5>
                    <div id="map" class="map-container" 
                         th:data-latitude="${property.latitude}" 
                         th:data-longitude="${property.longitude}"></div>
                    <p>주소: <span th:text="${property.propertyAddress != null ? property.propertyAddress : 'N/A'}"></span></p>
                </div>

                <div class="card details-container">
                    <h5>상세설명</h5>
                    <p><span th:text="${property.shortDescription != null ? property.shortDescription : 'N/A'}"></span></p>
                    <p><span th:text="${property.longDescription != null ? property.longDescription : 'N/A'}"></span></p>
                </div>
            </div>

            <!-- Right Column -->
            <div class="col-md-4 right-column">
                <div class="sticky-top card details-container">
                    <h5>매물 번호: <span th:text="${property.propertyId != null ? property.propertyId : 'N/A'}"></span></h5>
                    <h5>보증금: <span th:text="${property.deposit != null ? property.deposit : 'N/A'}"></span></h5>
                    <h5>월세: <span th:text="${property.monthlyRent != null ? property.monthlyRent : 'N/A'}"></span></h5>
                    <p><strong>방/욕실: </strong><span th:text="${property.roomInfo != null ? property.roomInfo : 'N/A'}"></span></p>
                    <p><strong>위치: </strong><span th:text="${property.propertyAddress != null ? property.propertyAddress : 'N/A'}"></span></p>  
					<div th:title="${disinfectionStatus != null && disinfectionStatus.disinfectionLevel == 2 ? '방문상담이 제한된 상태입니다.' : ''}">
					    <button class="btn btn-outline-secondary mt-2" 
					            th:disabled="${disinfectionStatus != null && disinfectionStatus.disinfectionLevel == 2}"
					            th:onclick="'goToConsultationRequest(' + ${property.propertyId} + ')'">
					        방문상담예약
					    </button>
					</div>             
				</div>
            </div>
        </div>
        <script th:src="@{/resource/js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/resource/js/propertyDetails.js}"></script>
		<script th:inline="javascript">
		    function goToConsultationRequest(propertyId) {
		        window.location.href = `/consultationRequest/${propertyId}`;
		    }
		
		    /* 팝업 메시지 처리 */
		    /*<![CDATA[*/
		    var message = /*[[${message}]]*/ null;
		    var error = /*[[${error}]]*/ null;
		
		    if (message) {
		        alert(message); // 성공 메시지 팝업
		    }
		
		    if (error) {
		        alert(error); // 에러 메시지 팝업
		    }
		    /*]]>*/
		    
		    // 모달 바깥을 클릭하면 모달 닫기
		    window.onclick = function(event) {
		        if (event.target == imageModal) {
		        	imageModal.style.display = "none";
		        }
		    }
		
		    // ESC 키를 눌렀을 때 모달 닫기
		    document.onkeydown = function(event) {
		        if (event.key === "Escape") {
		        	imageModal.style.display = "none";
		        }
		    }
		    
		 </script>
    </div>
</div>
</div>

</body>
</html>
