<!DOCTYPE html>
<html layout:decorate="~{layout/adminLayout}">
<head>
    <meta charset="UTF-8">
    <title>니집내집 관리자페이지</title>
    <style type="text/css">
		.card:hover {
			color: white;
			text-decoration: none;
			transform: translateY(-5px);
		}
    </style>
</head>
<body>
    <div layout:fragment="content">
        <main class="main-container">
            <div class="container mt-5">
                <section class="row">
                    <div class="col-md-6 mb-4">
                        <a th:href="@{/admin/propertyList}" class="card p-4 text-center d-block">전체 매물 관리</a>
                    </div>                    
                    <div class="col-md-6 mb-4">
                        <a th:href="@{/properties}" class="card p-4 text-center d-block">회원 관리</a>
                    </div>
                    <div class="col-md-6 mb-4">
                        <a th:href="@{/properties}" class="card p-4 text-center d-block">계약 관리</a>
                    </div>
                    <div class="col-md-6 mb-4">
                        <a href="/consultationRequest/list" class="card p-4 text-center d-block">방문 신청 목록</a>
                    </div>
                </section>
                <section class="row">
                    <div class="col-md-6 mb-4">
                        <a href="/admin/disinfectionStatus" class="card p-4 text-center d-block">방역 관리</a>
                    </div>
                    <div class="col-md-6 mb-4">
                        <a href="/admin/alarmPush" class="card p-4 text-center d-block">알림 전송</a>
                    </div>
                    <div class="col-md-6 mb-4">
                        <a href="/favorites" class="card p-4 text-center d-block">고객 지원</a>
                    </div>
                    
                </section>
            </div>
        </main>
    </div>
</body>
</html>