<!DOCTYPE html>
<html layout:decorate="~{layout/adminLayout}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>전체 매물 관리</title>
    <link rel="stylesheet" th:href="@{/resource/css/propertyListStyles.css}">
    <script th:inline="javascript">
        function toggleAll(source) {
            const checkboxes = document.querySelectorAll('input[name="selectedProperties"]');
            checkboxes.forEach(cb => cb.checked = source.checked);
            checkButtons();
        }

        function toggleCheckbox(event, checkboxId) {
            if (event.target.tagName.toLowerCase() !== 'input') {
                const checkbox = document.getElementById(checkboxId);
                checkbox.checked = !checkbox.checked;
            }
            checkButtons();
        }

        function checkButtons() {
            const checkboxes = document.querySelectorAll('input[name="selectedProperties"]:checked');
            const buttons = document.querySelectorAll('.button-container button');
            if (checkboxes.length === 0) {
                buttons.forEach(button => button.disabled = true);
            } else {
                buttons.forEach(button => button.disabled = false);
            }
        }

        document.addEventListener('DOMContentLoaded', function() {
            checkButtons(); // 초기 상태에서 버튼 비활성화 여부 확인
        });
    </script>
</head>
<body>
    <div layout:fragment="content">
        <div class="property-container" style="overflow: auto;">
            <div class="header-container">
                <h2 style="float: left;">전체 매물 관리</h2>
                <div class="filter-container" style="float: right;">
	                <form th:action="@{/admin/propertyList}" method="get">
					    <div class="filter-container" style="float: right;">
					        <select id="status" name="status">
					            <option value="">전체</option>
					            <option value="승인대기" th:selected="${currentStatus == '승인대기'}">승인 대기</option>
					            <option value="승인" th:selected="${currentStatus == '승인'}">승인됨</option>
					            <option value="반려" th:selected="${currentStatus == '반려'}">반려됨</option>
					            <option value="비활성화" th:selected="${currentStatus == '비활성화'}">비활성화</option>
					        </select>
					        
					        <label for="filterField">검색 기준:</label>
		                        <select id="filterField" name="filterField">
		                            <option value="propertyNum" th:selected="${filterField == 'propertyNum'}">매물번호</option>
		                            <option value="propertyAddress" th:selected="${filterField == 'propertyAddress'}">주소</option>
		                            <option value="buildingName" th:selected="${filterField == 'buildingName'}">건물 이름</option>
		                            <option value="roomInfo" th:selected="${filterField == 'roomInfo'}">방 정보</option>
		                        </select>
					            <input type="text" id="searchKeyword" name="searchKeyword" placeholder="키워드" th:value="${searchKeyword}">
					        <button type="submit" class="btn btn-primary">필터 적용</button>
					    </div>
					</form>
                </div>
            </div>
            <div class="table-container" style="clear: both;">
                <form th:action="@{/admin/property/updateStatus}" method="post">
                    <table>
                        <thead>
                            <tr>
                                <th>번호</th>
                                <th>매물유형</th>
                                <th>등록 일시</th>
                                <th>매물번호</th>
                                <th>주소 / 건물 이름</th>
                                <th>임대인(아이디)</th>
                                <th>월세/보증금</th>
                                <th>거주현황</th>
                                <th>처리상태</th>
                                <th>
                                    <input type="checkbox" onclick="toggleAll(this)">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="property : ${properties.content}" th:onclick="|toggleCheckbox(event, 'checkbox-${property.propertyId}')|">
                                <td th:text="${property.propertyId}"></td>
                                <td th:text="${property.propertyType}"></td>
                                <td th:text="${#dates.format(property.registrationDate, 'yyyy.MM.dd HH:mm')}"></td>
                                <td th:text="${property.propertyNum}"></td>
                                <td th:text="${property.propertyAddress}+' / '+${property.buildingName}"></td>
                                <td th:text="${property.name}+'('+${property.username}+')'"></td>
                                <td th:text="${property.monthlyRent}+' / '+${property.deposit}"></td>
                                <td th:text="${property.status}"></td>
                                <td th:text="${property.processingStatus}"></td>
                                <td>
                                    <input type="checkbox" name="selectedProperties" th:id="'checkbox-' + ${property.propertyId}" th:value="${property.propertyId}" onchange="checkButtons()">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="button-container">
                        <button type="submit" name="action" value="approve" class="btn btn-success" disabled>승인</button>
                        <button type="submit" name="action" value="reject" class="btn btn-danger" disabled>반려</button>
                        <button type="submit" name="action" value="delete" class="btn btn-warning" disabled>비활성화</button>
                    </div>
                </form>
            </div>
            <div class="pagination">
			    <a th:href="@{/admin/propertyList(page=${properties.number - 1}, size=${properties.size}, status=${currentStatus}, filterField=${filterField}, searchKeyword=${searchKeyword})}" th:if="${!properties.first}">&laquo;</a>
			    <a th:each="pageNum : ${#numbers.sequence(1, properties.totalPages)}"
			       th:href="@{/admin/propertyList(page=${pageNum - 1}, size=${properties.size}, status=${currentStatus}, filterField=${filterField}, searchKeyword=${searchKeyword})}"
			       th:text="${pageNum}"
			       th:classappend="${pageNum == properties.number + 1} ? 'active'"></a>
			    <a th:href="@{/admin/propertyList(page=${properties.number + 1}, size=${properties.size}, status=${currentStatus}, filterField=${filterField}, searchKeyword=${searchKeyword})}" th:if="${!properties.last}">&raquo;</a>
			</div>
        </div>
    </div>
</body>
</html>
