<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
</head>
<body>
<header class="navUp" th:fragment="navUp">
<nav>
        <a th:href="@{/home}" th:text="'고객 홈'" sec:authorize="isAuthenticated()"></a>

        <a th:href="@{/user/logout}" th:text="로그아웃" sec:authorize="isAuthenticated()"></a>

    </nav>
</header>

<header th:fragment="navbar">
    <div class="navbar container">
        <a class="logo" th:href="@{/admin}">
            <svg xmlns="http://www.w3.org/2000/svg" width="180" height="30.35969514945749" viewBox="0 0 210.595 35.52">
                <path id="패스_2" data-name="패스 2" d="M-177.284-57.4H-192.8v35.52h40.343V-35.325h-24.826ZM-101.9-43.267h7.812v-14.07h-46.5v14.07h7.812l-9.042,
                21.324h18.245l6.207-17.7,6.26,17.7h18.245ZM-66.636-57.4H-82.152v35.52H-41.81V-35.325H-66.636ZM8.752-43.267h7.812v-14.07h-46.5v14.07h7.812l-9.042,
                21.324h18.245l6.207-17.7,6.26,17.7H17.795Z" transform="translate(192.8 57.4)" fill="#fff"/>
            </svg>
        </a>

    </div>
</header>
</body>
</html>