<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>니집내집</title>
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
    <div layout:fragment="content" class="terms-container">
        <h2 class="text-center" style="padding: 10px 0px 10px 0px;">회원가입 완료</h2>
        <p class="text-center" style="padding: 0px 0px 20px 0px;">
            안전한 월세 계약, 니집내집 회원가입이 완료되었습니다.
        </p>
    </div>
    
    <a th:href="@{/user/login}">로그인</a>
    
    <a th:href="/home">메인으로</a>
</body>
</html>