<!DOCTYPE html>
<html layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>니집내집</title>
    <style type="text/css">
		.card:hover {
			color: white;
			text-decoration: none;
			transform: translateY(-5px);
		}
    </style>
</head>
<body>
    <div layout:fragment="content">
        <main class="">
            <div class="container mt-5">
                <section class="row">
                    <div class="col-md-6 mb-4">
                        <a th:href="@{/properties}" class="card p-4 text-center d-block">방 찾기</a>
                    </div>
                    
                    <div class="col-md-4 mb-4">
                        <a href="/myProperty/list" class="card p-4 text-center d-block">매물 관리</a>
                    </div>
                    <div class="col-md-4 mb-4">
                        <a href="/sellForm" class="card p-4 text-center d-block">매물 등록</a>
                    </div>
                </section>

            </div>
        </main>
    </div>
</body>
</html>